@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 10px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 60px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

footer {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 5px;
}